<% include partials/header %>


<h1>You successfully completed your bid for $<%= bid.amount %>.00!</h1>
<p>Hopefully you'll get to see <%= artist.name %> in <%= bid.location %> soon.</p>
<a href="/home">Go back to your profile</a>
<a href="/artists/<%= artist._id %>">Back to <%= artist.name %></a>






<% include partials/footer %>