<% include partials/header-authenticated %>

<!-- Getting artist.img and artist.name -->


<main id="profile-artist--main">
    <div class="profile-artist--side">
        <h2>BOOKR</h2>
        <a href="/home">Back to profile</a>
    </div>
    <div class="profile-artist--top" style="background: url('<%= artist.img %>'); background-size: cover; background-repeat: no-repeat;">
        <div class="profile-artist--top_content">
            <h4 style="color: #fefefe; font-weight: 300; letter-spacing: 2px;">ARTIST</h4>
            <h1><%= artist.name %></h1>
            <!-- <p><%= artist.description %></p> -->
            <div class="profile-artist--top_buttons">
                <!-- <button class="btn-round--light" id="profile-artist--savebtn"><i class="fas fa-heartbeat"></i> Save</button> -->
                <button class="btn btn-primary btn-special" id="profile-artist--bookbtn"><i class="fas fa-heartbeat"></i> Bookr Me</button>

            </div>
            <div class="profile-artist--top_categories">
                <a href="#" class="btn-category">Acoustic</a>
                <a href="#" class="btn-category">Ambient</a>
                <a href="#" class="btn-category">Folk</a>
                <a href="#" class="btn-category">Singer-Songwriter</a>
            </div>
        </div>
        <div class="profile-artist--top_book">
            <!-- <button class="btn btn-primary btn-special" id="profile-artist--bookbtn"><i class="fas fa-heartbeat"></i> Bookr Me</button> -->
        </div>
        <div class="profile-artist--top_tabs">
            <ul>
                <li class="profile-artist--top_tabsactive profile-artist--content_tab" onclick="openContent('profile-artist--content_bio', this)" id="content-default--open"><a href="#">Biography</a></li>
                <li class="profile-artist--content_tab" onclick="openContent('profile-artist--content_songs', this)"><a href="#">Songs</a></li>
                <li class="profile-artist--content_tab" onclick="openContent('profile-artist--content_bids', this)"><a href="#">Bids</a></li>
                <li class="profile-artist--content_tab" onclick="openContent('profile-artist--content_concerts', this)"><a href="#">Concerts</a></li>
            </ul>
        </div>
    </div>

    <div class="profile-artist--bottom">

        <div class="profile-artist--bottom_content" id="profile-artist--content_bio">
            <h1>Biography</h1>
            <!-- <p><%= artist.description %></p> -->
        </div>


            <table class="profile-artist--bottom_table profile-artist--bottom_content" id="profile-artist--content_songs">
                    <tr>
                      <th>#</th>
                      <th>Photo</th>
                      <th>Title</th>
                      <th>Length</th> 
                      <th>Plays</th>
                    </tr>
                    <tr>
                      <td class="profile-artist--bottom_tableplay"><i class="far fa-play-circle"></i></td>
                      <td>Photo 1</td>  
                      <td>Title 1</td>  
                      <td>Length 1</td>  
                      <td>Plays 1</td>  
                    </tr>
                    <tr>
                        <td class="profile-artist--bottom_tableplay"><i class="far fa-play-circle"></i></td>
                        <td>Photo 2</td>
                        <td>Title 2</td>
                        <td>Length 2</td>
                        <td>Plays 2</td>
                    </tr>
                    <tr>
                        <td class="profile-artist--bottom_tableplay"><i class="far fa-play-circle"></i></td>
                        <td>Photo 3</td>
                        <td>Title 3</td>
                        <td>Length 3</td>
                        <td>Plays 3</td>
                    </tr>
                    <tr>
                        <td class="profile-artist--bottom_tableplay"><i class="far fa-play-circle"></i></td>
                        <td>Photo 4</td>
                        <td>Title 4</td>
                        <td>Length 4</td>
                        <td>Plays 4</td>
                    </tr>
                    
                  </table>

                <div class="profile-artist--bottom_content" id="profile-artist--content_bids">
                    <h1>Bids</h1>
                </div>

                <div class="profile-artist--bottom_content" id="profile-artist--content_concerts">
                    <h1>Concerts</h1>
                </div>
    </div>
</main>

<!-- BOOKING MODAL POPUP -->
<div class="profile-artist--modal">
    <div class="modal modal-bids position-center" id="profile-artist--modalbid">
        <div class="profile-artist--bidmodal_img">
            <i class="fas fa-times profile-artist--modal_closebtn" style="color: #fff;"></i>
        </div>
        <div class="profile-artist--bidmodal_text">
            <h1><%= artist.name %></h1>
            <p>Enter a bid for <%= artist.name %> to come to your city.</p>
        </div>
        <form class="profile-artist--bidmodal_form" id="profile-artist--bidform" action="/artists/<%= artist._id %>" method="POST">
            <input type="text" value="<%= artist.name %>" name="artistName" readonly>
            <input type="number" placeholder="($) Bid amount" name="bidAmount">
            <select name="location">
                <option value="Los Angeles">Los Angeles</option>
            </select>
            <input type="submit" value="submit" class="btn btn-primary" id="profile-artist--bidsubmitbtn">
        </form> 
    </div>
</div>


<script src="/js/profile-artist.js"></script>

<% include partials/footer %>